/* CSS Document */

/* draggable */
.col-reorder .ui-icon-grip-dotted-vertical {
	display: block !important;
}

/* Add new listbox field */
.addnewlistbox .chosen-container,
.addnewdropdown .chosen-container{
	width: 80% !important;
}
.addnewlistboxfield-button-new {
    vertical-align:text-bottom;
}
select.has-chzn.chzn-done {
	display:none !important;	
}