// SETTINGS

// Globals
$default-background: #fff;
$default-line-height: 1.35em;
$default-text-color: #444;
$default-font-family: Arial, Helvetica, sans-serif;
$default-font-weight: 400;
$default-font-weight-bold: 700;

// Default responsive font sizes
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;

// Colors
$color-success: green;
$color-error: red;

// Breakpoints
$breakpoints: (
	"xxsmall": 350px,
    "xsmall": 500px,
    "small": 767px,
    "medium": 920px,
    "large": 1400px,
    "xlarge": 1760px,
	"xxlarge": 2560px,
) !default;