// Base styles for gloabl elements specific for this project
// Do not put classes in here
html,body {
	// Base REM size must be set on the html element
	@include responsive-font-sizes;
}
body {
	margin: 0;
	padding: 0;
	
	font-family: $default-font-family;
	color: $default-text-color;
	background: $default-background;
	
	box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
	
	min-width: 320px;
}

// Set project line heights in setting

// msc moved to base/base

// global transition ?
// {
//    @include transition(all .3s ease);
//}

a, button, input[type=submit] {
	transition: all .3s ease;
}

